# Logistic Regression on Social Network dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
data = pd.read_csv("https://raw.githubusercontent.com/Avik-Jain/100-Days-Of-ML-Code/master/datasets/Social_Network_Ads.csv")
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

### Explore data

In [11]:
data.shape

(400, 5)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [5]:
data.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

### Data sepraton into dependent and independent

In [14]:
X = data.iloc[:,2:4]
y = data.iloc[:,4]

In [15]:
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [16]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

## Splite The  Data Usning Train Test Split

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 0)

In [21]:
X_train

     Age  EstimatedSalary
336   58           144000
64    59            83000
55    24            55000
106   26            35000
300   58            38000
..   ...              ...
323   48            30000
192   29            43000
117   36            52000
47    27            54000
172   26           118000

[320 rows x 2 columns]

In [23]:
y_train

336    1
64     0
55     0
106    0
300    1
      ..
323    1
192    0
117    0
47     0
172    0
Name: Purchased, Length: 320, dtype: int64

Standardize the features age and estimated salary

In [29]:
from sklearn.preprocessing import StandardScaler 
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [30]:
from sklearn.linear_model import LogisticRegression
regression = LogisticRegression()

In [31]:
regression = regression.fit(X_train,y_train)

In [32]:
regression

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [33]:
X_train

array([[ 1.92295008e+00,  2.14601566e+00],
       [ 2.02016082e+00,  3.78719297e-01],
       [-1.38221530e+00, -4.32498705e-01],
       [-1.18779381e+00, -1.01194013e+00],
       [ 1.92295008e+00, -9.25023920e-01],
       [ 3.67578135e-01,  2.91803083e-01],
       [ 1.73156642e-01,  1.46942725e-01],
       [ 2.02016082e+00,  1.74040666e+00],
       [ 7.56421121e-01, -8.38107706e-01],
       [ 2.70367388e-01, -2.87638347e-01],
       [ 3.67578135e-01, -1.71750061e-01],
       [-1.18475597e-01,  2.20395980e+00],
       [-1.47942605e+00, -6.35303205e-01],
       [-1.28500455e+00, -1.06988428e+00],
       [-1.38221530e+00,  4.07691369e-01],
       [-1.09058306e+00,  7.55356227e-01],
       [-1.47942605e+00, -2.00722133e-01],
       [ 9.50842613e-01, -1.06988428e+00],
       [ 9.50842613e-01,  5.81523798e-01],
       [ 3.67578135e-01,  9.87132798e-01],
       [ 5.61999628e-01, -8.96051849e-01],
       [-6.04529329e-01,  1.45068594e+00],
       [-2.12648508e-02, -5.77359062e-01],
       [-6.04529329e-01,  1.88526701e+00],
       [ 1.33968560e+00, -1.41754914e+00],
       [ 1.43689635e+00,  9.87132798e-01],
       [ 7.59458956e-02, -8.09135634e-01],
       [-2.12648508e-02, -2.58666276e-01],
       [-2.15686344e-01, -5.77359062e-01],
       [-2.15686344e-01, -2.00722133e-01],
       [-3.12897090e-01, -1.30166085e+00],
       [-3.12897090e-01, -5.77359062e-01],
       [ 3.67578135e-01,  8.89985821e-02],
       [ 8.53631867e-01, -6.06331134e-01],
       [ 2.02016082e+00, -1.18577256e+00],
       [ 1.04805336e+00, -1.42777990e-01],
       [ 6.59210374e-01,  1.76937873e+00],
       [-7.01740076e-01,  5.52551726e-01],
       [ 7.56421121e-01,  3.49747226e-01],
       [ 8.53631867e-01, -5.48386991e-01],
       [-1.18779381e+00, -1.59138156e+00],
       [ 2.11737157e+00,  9.29188655e-01],
       [-2.12648508e-02,  1.21890937e+00],
       [ 1.73156642e-01,  1.07404901e+00],
       [ 3.67578135e-01, -4.90442848e-01],
       [-3.12897090e-01, -3.16610419e-01],
       [ 9.50842613e-01, -8.38107706e-01],
       [ 9.50842613e-01,  1.85629494e+00],
       [-2.12648508e-02,  1.24788144e+00],
       [-8.96161568e-01,  2.26190394e+00],
       [-1.18779381e+00, -1.59138156e+00],
       [ 2.11737157e+00, -8.09135634e-01],
       [-1.38221530e+00, -1.47549328e+00],
       [ 3.67578135e-01,  2.29087602e+00],
       [ 7.56421121e-01,  7.55356227e-01],
       [-9.93372315e-01, -3.16610419e-01],
       [ 7.59458956e-02,  7.55356227e-01],
       [-9.93372315e-01,  5.52551726e-01],
       [ 2.70367388e-01,  6.00265106e-02],
       [ 6.59210374e-01, -1.27268878e+00],
       [-5.07318583e-01, -2.68897039e-02],
       [-1.77105829e+00,  3.49747226e-01],
       [-7.01740076e-01,  1.17970654e-01],
       [ 3.67578135e-01,  2.91803083e-01],
       [-3.12897090e-01,  6.00265106e-02],
       [-5.07318583e-01,  2.29087602e+00],
       [ 1.73156642e-01,  3.10544391e-02],
       [ 1.24247485e+00,  2.20395980e+00],
       [ 7.56421121e-01,  2.62831011e-01],
       [-3.12897090e-01,  1.46942725e-01],
       [-2.12648508e-02, -5.48386991e-01],
       [-2.15686344e-01,  1.46942725e-01],
       [-1.18475597e-01,  2.33858940e-01],
       [-2.12648508e-02, -2.58666276e-01],
       [ 2.11737157e+00,  1.10302108e+00],
       [-1.77105829e+00,  3.49747226e-01],
       [ 1.82573933e+00,  1.17970654e-01],
       [ 3.67578135e-01, -1.42777990e-01],
       [-1.18779381e+00,  2.91803083e-01],
       [ 7.56421121e-01,  1.36376973e+00],
       [-3.12897090e-01, -2.58666276e-01],
       [-1.67384754e+00, -5.58617754e-02],
       [-9.93372315e-01, -7.51191491e-01],
       [ 2.70367388e-01,  4.94607583e-01],
       [-1.18475597e-01, -1.06988428e+00],
       [-1.09058306e+00,  5.81523798e-01],
       [ 7.59458956e-02, -8.09135634e-01],
       [-9.93372315e-01,  1.53760216e+00],
       [-7.01740076e-01,  1.39274180e+00],
       [-1.28500455e+00,  4.94607583e-01],
       [-3.12897090e-01,  3.10544391e-02],
       [-1.18475597e-01,  2.08236764e-03],
       [-3.12897090e-01, -8.96051849e-01],
       [ 8.53631867e-01, -1.35960499e+00],
       [-3.12897090e-01,  2.23293187e+00],
       [ 9.50842613e-01,  1.97218323e+00],
       [-1.18779381e+00,  4.65635512e-01],
       [-1.28500455e+00,  2.62831011e-01],
       [ 1.33968560e+00,  1.97218323e+00],
       [ 1.24247485e+00, -1.35960499e+00],
       [-3.12897090e-01, -2.87638347e-01],
       [-5.07318583e-01,  1.24788144e+00],
       [-7.98950822e-01,  1.07404901e+00],
       [ 9.50842613e-01, -1.06988428e+00],
       [ 2.70367388e-01,  2.91803083e-01],
       [ 9.50842613e-01,  7.55356227e-01],
       [-7.01740076e-01, -1.50446535e+00],
       [-7.01740076e-01,  3.10544391e-02],
       [ 4.64788881e-01,  1.71143459e+00],
       [ 2.02016082e+00,  1.75914797e-01],
       [-1.96547978e+00, -7.51191491e-01],
       [-2.15686344e-01,  1.39274180e+00],
       [ 3.67578135e-01,  5.81523798e-01],
       [ 8.53631867e-01, -1.15680049e+00],
       [-1.18779381e+00, -7.80163563e-01],
       [ 1.73156642e-01,  2.33858940e-01],
       [ 7.56421121e-01, -3.16610419e-01],
       [ 2.02016082e+00, -8.09135634e-01],
       [ 7.56421121e-01,  1.17970654e-01],
       [-3.12897090e-01,  6.10495869e-01],
       [-9.93372315e-01, -3.16610419e-01],
       [ 1.73156642e-01, -3.74554562e-01],
       [ 2.02016082e+00,  2.11704359e+00],
       [ 1.82573933e+00, -1.27268878e+00],
       [ 1.33968560e+00, -9.25023920e-01],
       [ 8.53631867e-01,  1.24788144e+00],
       [ 1.43689635e+00,  2.11704359e+00],
       [-3.12897090e-01, -1.24371671e+00],
       [ 1.92295008e+00,  9.00216584e-01],
       [ 6.59210374e-01, -7.22219420e-01],
       [-1.47942605e+00,  3.49747226e-01],
       [ 7.56421121e-01, -1.35960499e+00],
       [ 3.67578135e-01, -1.42777990e-01],
       [-9.93372315e-01,  4.07691369e-01],
       [-2.12648508e-02, -3.16610419e-01],
       [-1.18779381e+00,  4.07691369e-01],
       [-8.96161568e-01, -1.21474464e+00],
       [-1.18475597e-01,  3.10544391e-02],
       [-1.57663679e+00, -4.32498705e-01],
       [ 9.50842613e-01, -1.01194013e+00],
       [ 1.04805336e+00, -1.21474464e+00],
       [-2.12648508e-02, -1.42777990e-01],
       [-1.09058306e+00, -1.53343742e+00],
       [ 7.56421121e-01, -1.21474464e+00],
       [ 9.50842613e-01,  2.05909944e+00],
       [-1.18779381e+00, -1.53343742e+00],
       [-3.12897090e-01,  7.84328298e-01],
       [ 7.59458956e-02, -3.16610419e-01],
       [-1.38221530e+00, -1.24371671e+00],
       [-6.04529329e-01, -1.50446535e+00],
       [ 7.56421121e-01,  5.23579655e-01],
       [-3.12897090e-01, -3.45582490e-01],
       [ 1.72852858e+00, -2.87638347e-01],
       [ 8.53631867e-01, -1.04091221e+00],
       [ 1.73156642e-01,  6.00265106e-02],
       [-6.04529329e-01,  8.71244512e-01],
       [-1.86826903e+00, -1.41754914e+00],
       [-1.28500455e+00,  5.81523798e-01],
       [-3.12897090e-01,  5.23579655e-01],
       [-9.93372315e-01, -1.09885635e+00],
       [ 1.14526411e+00, -1.44652121e+00],
       [ 1.73156642e-01, -3.16610419e-01],
       [ 1.14526411e+00, -7.51191491e-01],
       [-3.12897090e-01,  6.00265106e-02],
       [ 1.73156642e-01,  2.08807152e+00],
       [ 7.56421121e-01, -1.09885635e+00],
       [ 7.59458956e-02,  3.10544391e-02],
       [-1.77105829e+00,  1.17970654e-01],
       [-8.96161568e-01,  1.46942725e-01],
       [-7.01740076e-01,  1.75914797e-01],
       [ 8.53631867e-01, -1.30166085e+00],
       [ 1.73156642e-01, -2.58666276e-01],
       [-4.10107836e-01,  1.21890937e+00],
       [-2.12648508e-02,  2.91803083e-01],
       [ 3.67578135e-01,  1.46942725e-01],
       [ 8.53631867e-01, -6.64275277e-01],
       [ 7.59458956e-02,  1.46942725e-01],
       [-1.86826903e+00, -1.30166085e+00],
       [-1.18475597e-01,  2.91803083e-01],
       [-2.15686344e-01, -2.87638347e-01],
       [ 2.70367388e-01, -5.19414919e-01],
       [-2.15686344e-01,  1.59554630e+00],
       [ 9.50842613e-01, -1.18577256e+00],
       [-2.15686344e-01,  1.62451837e+00],
       [ 1.24247485e+00,  1.85629494e+00],
       [-1.09058306e+00, -3.74554562e-01],
       [-2.12648508e-02,  3.10544391e-02],
       [ 7.59458956e-02, -2.58666276e-01],
       [-1.57663679e+00, -1.24371671e+00],
       [-5.07318583e-01, -2.87638347e-01],
       [ 9.50842613e-01,  1.17970654e-01],
       [ 1.92295008e+00, -1.35960499e+00],
       [ 1.43689635e+00,  6.00265106e-02],
       [-6.04529329e-01,  1.36376973e+00],
       [ 1.53410709e+00,  2.08236764e-03],
       [-7.98950822e-01,  2.91803083e-01],
       [ 1.92295008e+00,  7.26384155e-01],
       [-1.18779381e+00, -5.19414919e-01],
       [ 6.59210374e-01,  2.62831011e-01],
       [-1.38221530e+00, -4.32498705e-01],
       [ 1.73156642e-01,  1.46942725e-01],
       [-5.07318583e-01, -1.21474464e+00],
       [ 5.61999628e-01,  2.00115530e+00],
       [-1.57663679e+00, -1.50446535e+00],
       [-5.07318583e-01, -5.48386991e-01],
       [ 4.64788881e-01,  1.82732287e+00],
       [-1.38221530e+00, -1.09885635e+00],
       [ 7.56421121e-01, -1.38857706e+00],
       [-3.12897090e-01, -4.32498705e-01],
       [ 1.53410709e+00,  9.87132798e-01],
       [ 9.50842613e-01,  1.42171387e+00],
       [-3.12897090e-01, -4.90442848e-01],
       [-1.18475597e-01,  2.14601566e+00],
       [-1.47942605e+00, -1.13805918e-01],
       [-1.18475597e-01,  1.94321116e+00],
       [-7.01740076e-01, -3.45582490e-01],
       [-5.07318583e-01, -8.38107706e-01],
       [ 6.59210374e-01, -1.38857706e+00],
       [-7.98950822e-01, -1.59138156e+00],
       [-1.86826903e+00, -1.47549328e+00],
       [ 1.04805336e+00,  1.17970654e-01],
       [ 7.59458956e-02,  1.50863009e+00],
       [-3.12897090e-01,  8.89985821e-02],
       [ 7.59458956e-02,  3.10544391e-02],
       [-1.38221530e+00, -1.35960499e+00],
       [ 2.70367388e-01,  6.00265106e-02],
       [-8.96161568e-01,  3.78719297e-01],
       [ 1.53410709e+00, -1.27268878e+00],
       [-3.12897090e-01, -7.51191491e-01],
       [-1.18475597e-01,  1.46942725e-01],
       [-8.96161568e-01, -6.64275277e-01],
       [-7.01740076e-01, -5.58617754e-02],
       [ 3.67578135e-01, -4.61470776e-01],
       [-7.98950822e-01,  1.88526701e+00],
       [ 1.33968560e+00,  1.27685351e+00],
       [ 1.14526411e+00, -9.82968063e-01],
       [ 1.72852858e+00,  1.82732287e+00],
       [-8.96161568e-01, -2.58666276e-01],
       [-7.98950822e-01,  5.52551726e-01],
       [-1.18779381e+00, -1.56240949e+00],
       [-5.07318583e-01, -1.12782842e+00],
       [ 2.70367388e-01,  6.00265106e-02],
       [-2.15686344e-01, -1.06988428e+00],
       [ 1.63131784e+00,  1.59554630e+00],
       [ 9.50842613e-01,  1.76937873e+00],
       [ 2.70367388e-01,  3.10544391e-02],
       [-7.98950822e-01, -2.29694204e-01],
       [-1.18475597e-01,  6.00265106e-02],
       [ 2.70367388e-01, -2.00722133e-01],
       [ 1.92295008e+00, -6.64275277e-01],
       [-7.98950822e-01,  1.33479766e+00],
       [-1.77105829e+00, -6.06331134e-01],
       [-1.18475597e-01,  1.17970654e-01],
       [ 2.70367388e-01, -3.16610419e-01],
       [ 1.04805336e+00,  5.52551726e-01],
       [-9.93372315e-01,  2.62831011e-01],
       [ 1.43689635e+00,  3.49747226e-01],
       [ 1.73156642e-01, -3.74554562e-01],
       [ 2.11737157e+00, -1.04091221e+00],
       [-3.12897090e-01,  1.10302108e+00],
       [-1.67384754e+00,  6.00265106e-02],
       [-2.12648508e-02,  3.10544391e-02],
       [ 7.59458956e-02,  1.04507694e+00],
       [-1.18475597e-01, -3.74554562e-01],
       [-1.18779381e+00,  6.00265106e-02],
       [-3.12897090e-01, -1.35960499e+00],
       [ 1.53410709e+00,  1.10302108e+00],
       [-7.98950822e-01, -1.53343742e+00],
       [ 7.59458956e-02,  1.85629494e+00],
       [-8.96161568e-01, -7.80163563e-01],
       [-5.07318583e-01, -7.80163563e-01],
       [-3.12897090e-01, -9.25023920e-01],
       [ 2.70367388e-01, -7.22219420e-01],
       [ 2.70367388e-01,  6.00265106e-02],
       [ 7.59458956e-02,  1.85629494e+00],
       [-1.09058306e+00,  1.94321116e+00],
       [-1.67384754e+00, -1.56240949e+00],
       [-1.18779381e+00, -1.09885635e+00],
       [-7.01740076e-01, -1.13805918e-01],
       [ 7.59458956e-02,  8.89985821e-02],
       [ 2.70367388e-01,  2.62831011e-01],
       [ 8.53631867e-01, -5.77359062e-01],
       [ 2.70367388e-01, -1.15680049e+00],
       [-1.18475597e-01,  6.68440012e-01],
       [ 2.11737157e+00, -6.93247348e-01],
       [-1.28500455e+00, -1.38857706e+00],
       [-9.93372315e-01, -9.53995992e-01],
       [-2.12648508e-02, -4.32498705e-01],
       [-2.15686344e-01, -4.61470776e-01],
       [-1.77105829e+00, -9.82968063e-01],
       [ 1.72852858e+00,  9.87132798e-01],
       [ 1.73156642e-01, -3.74554562e-01],
       [ 3.67578135e-01,  1.10302108e+00],
       [-1.77105829e+00, -1.35960499e+00],
       [ 1.73156642e-01, -1.42777990e-01],
       [ 8.53631867e-01, -1.44652121e+00],
       [-1.96547978e+00,  4.65635512e-01],
       [-3.12897090e-01,  2.62831011e-01],
       [ 1.82573933e+00, -1.06988428e+00],
       [-4.10107836e-01,  6.00265106e-02],
       [ 1.04805336e+00, -8.96051849e-01],
       [-1.09058306e+00, -1.12782842e+00],
       [-1.86826903e+00,  2.08236764e-03],
       [ 7.59458956e-02,  2.62831011e-01],
       [-1.18779381e+00,  3.20775154e-01],
       [-1.28500455e+00,  2.91803083e-01],
       [-9.93372315e-01,  4.36663440e-01],
       [ 1.63131784e+00, -8.96051849e-01],
       [ 1.14526411e+00,  5.23579655e-01],
       [ 1.04805336e+00,  5.23579655e-01],
       [ 1.33968560e+00,  2.31984809e+00],
       [-3.12897090e-01, -1.42777990e-01],
       [ 3.67578135e-01, -4.61470776e-01],
       [-4.10107836e-01, -7.80163563e-01],
       [-1.18475597e-01, -5.19414919e-01],
       [ 9.50842613e-01, -1.15680049e+00],
       [-8.96161568e-01, -7.80163563e-01],
       [-2.15686344e-01, -5.19414919e-01],
       [-1.09058306e+00, -4.61470776e-01],
       [-1.18779381e+00,  1.39274180e+00]])

In [35]:
X_test

array([[-0.49618606,  0.56021375],
       [ 0.2389044 , -0.59133674],
       [-0.03675452,  0.18673792],
       [-0.49618606,  0.31122986],
       [-0.03675452, -0.59133674],
       [-0.77184498, -1.52502632],
       [-0.40429975, -1.68064126],
       [ 0.05513178,  2.33422397],
       [-1.59882175, -0.03112299],
       [ 1.06588117, -0.80919764],
       [-0.49618606, -0.62245972],
       [-0.67995868, -0.43572181],
       [ 0.14701809, -0.43572181],
       [ 0.33079071,  0.24898389],
       [-1.41504914,  0.52909077],
       [-0.31241345,  1.49390334],
       [ 0.14701809,  0.24898389],
       [-1.50693545,  0.49796778],
       [ 1.80097163,  1.89850216],
       [-0.03675452, -1.46278035],
       [-0.03675452, -0.6847057 ],
       [ 1.06588117,  2.33422397],
       [ 0.51456332, -0.56021375],
       [ 1.06588117,  1.1204275 ],
       [-1.13939022, -1.27604243],
       [ 1.24965379,  2.24085501],
       [-0.67995868,  0.56021375],
       [-0.58807237,  0.34235285],
       [ 0.14701809, -0.2178609 ],
       [-0.31241345,  0.52909077],
       [-1.32316283,  0.59133674],
       [ 0.14701809,  0.31122986],
       [ 1.98474425, -0.28010688],
       [ 0.14701809, -0.49796778],
       [-1.04750391, -0.34235285],
       [-1.59882175, -0.52909077],
       [-1.23127652,  0.37347583],
       [-0.12864083, -0.80919764],
       [-0.40429975, -1.08930452],
       [ 1.24965379, -1.02705855],
       [-0.77184498,  0.59133674],
       [ 0.51456332, -0.52909077],
       [-0.77184498,  0.46684479],
       [-0.03675452, -1.52502632],
       [ 0.69833594,  1.33828841],
       [-0.77184498, -0.34235285],
       [ 0.14701809,  0.34235285],
       [ 1.52531271,  0.65358271],
       [-0.86373129, -1.21379646],
       [ 1.24965379,  0.52909077],
       [ 1.98474425,  1.64951827],
       [-0.12864083, -1.36941139],
       [-0.03675452, -0.37347583],
       [-0.12864083,  1.43165737],
       [ 2.16851686,  0.59133674],
       [ 0.88210855, -1.15155049],
       [-0.58807237,  0.43572181],
       [-0.86373129,  0.34235285],
       [ 1.24965379, -1.27604243],
       [-1.13939022, -1.52502632],
       [-0.31241345, -1.5872723 ],
       [ 2.26040317, -0.84032063],
       [-1.50693545,  0.2178609 ],
       [ 0.05513178,  0.93368959],
       [-1.50693545, -1.33828841],
       [ 2.26040317,  0.43572181],
       [-1.04750391,  0.62245972],
       [-0.77184498, -0.34235285],
       [ 0.42267702, -0.6847057 ],
       [ 0.60644963,  0.03112299],
       [-0.31241345,  2.52096188],
       [-0.03675452,  0.24898389],
       [-1.23127652, -0.18673792],
       [ 0.88210855, -1.46278035],
       [-0.77184498,  0.62245972],
       [-1.59882175,  0.40459882],
       [ 0.60644963,  0.31122986],
       [ 0.42267702, -0.28010688],
       [ 1.61719902, -1.08930452],
       [ 1.06588117,  1.18267348]])

In [37]:
y_pred = regression.predict(X_test)

In [38]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1], dtype=int64)

In [40]:
from sklearn.metrics import confusion_matrix

In [43]:
cm = confusion_matrix(y_test,y_pred)
cm

array([[52,  6],
       [ 3, 19]], dtype=int64)

In [44]:
from sklearn.metrics import classification_report

In [49]:
cf =classification_report(y_test,y_pred)
cf

'              precision    recall  f1-score   support\n\n           0       0.95      0.90      0.92        58\n           1       0.76      0.86      0.81        22\n\n    accuracy                           0.89        80\n   macro avg       0.85      0.88      0.86        80\nweighted avg       0.89      0.89      0.89        80\n'